<p>Here you can edit a question</p>
<div class="container col-lg-6 mx-auto m-3">
  <%= simple_form_for([@quiz, @question]) do |l| %>
    <%= l.error_notification %>
    <%= l.error_notification message: l.object.errors[:base].to_sentence if l.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= l.input :content, value: @question.content %>
    </div>

    <div class="form-inputs">
      <%= l.input :choice_one, value: @question.choice_one %>
    </div>

    <div class="form-inputs">
      <%= l.input :choice_two, value: @question.choice_two %>
    </div>

    <div class="form-inputs">
      <%= l.input :correct_choice, as: :select, collection: [['choice one', 'choice_one'], ['choice two', 'choice_two']], include_blank: false %>
    </div>

    <div class="form-actions d-flex justify-content-center">
      <%= l.button :submit, class: "button"%>
    </div>
  <% end %>
</div>
