<p>Here you can edit your questions</p>

<div class="container col-lg-6 mx-auto m-3">
  <%= simple_form_for([@quiz, @question]) do |l| %>
    <%= l.error_notification %>
    <%= l.error_notification message: l.object.errors[:base].to_sentence if l.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= l.input :content, input_html:  { value: @question.content } %>
    </div>

    <div class="form-inputs">
      <%= l.input :choice_one, input_html:  { value: @question.choice_one }  %>
    </div>

    <div class="form-inputs">
      <%= l.input :choice_two, input_html:  { value: @question.choice_two }  %>
    </div>

    <div class="form-actions d-flex justify-content-center">
      <%= l.button :submit, class: "button"%>
    </div>
  <% end %>

  <%= link_to edit_quiz_path(@quiz) do %>
    <button>Done</button>
  <% end %>
</div>
