<h2>Here you can edit a question</h2>

<div class="container col-lg-6 mx-auto m-3">
  <%= form_with(model: [@quiz, @question], url: exchange_quiz_questions_path(@quiz, @question), method: :post) do |form| %>
    <div class="form-inputs">
      <%= form.text_field :content, value: @old_question.content %>
    </div>

    <div class="form-inputs">
      <%= form.text_field :choice_one, value: @old_question.choice_one %>
    </div>

    <div class="form-inputs">
      <%= form.text_field :choice_two, value: @old_question.choice_two %>
    </div>

    <div class="form-inputs">
      <%= form.select :correct_choice, [['choice one', 'choice_one'], ['choice two', 'choice_two']], {}, include_blank: false %>
    </div>

    <div class="form-actions d-flex justify-content-center">
      <%= form.submit "Submit", class: "button" %>
    </div>
  <% end %>
</div>
