<div class="container">
  <h3><%= @quiz.name %></h3>

  <% @questions.each_with_index do |question, index| %>
    <div class="card">
      <p><%= question.content %></p>
      <p><%= question.choice_one %> / <%= question.choice_two %></p>
      <%= link_to quiz_question_path(@quiz_questions[index]), data: { turbo_method: :delete } do %>
        <button>Delete question</button>
      <% end %>
      <%= link_to quiz_rewrite_quiz_question_path(question) do %>
        <button>Edit question</button>
      <% end %>
    </div>
  <% end %>

  <%= link_to quiz_path(@quiz) do %>
    <button>Go back</button>
  <% end %>

  <%= link_to new_quiz_question_path(@quiz) do %>
    <button>Add question</button>
  <% end %>

</div>
