
<div class="container col-lg-6 mx-auto m-3">
<h1 class=text-center>Here you can create a new quiz </h1>

  <%= simple_form_for(@quiz) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-group">
    <label for="usr" class="form-label">Name:</label>
     <input type="text" class="form-control" id="usr">
  </div>
  
  <div class="form-actions d-flex justify-content-center">
    <%= f.button :submit, class: "btn btn-primary"  %>
  </div>
  <% end %>
</div>

<%= link_to my_own_quizzes_path do %>
  <button>Go back</button>
<% end %>
