<div class="swiper-container" data-controller="play-quiz" data-carousel-options-value='{"direction": "horizontal"}' data-play-quiz-questions-ids-value='<%= @questions.map(&:id).to_json %>'>
  <div class="swiper-wrapper" >
    <% @questions.each do |question| %>
      <div class="swiper-slide">
      <div class="justify-content-space-between d-flex">
          <%= question.content %>
          <div data-action="click->play-quiz#advance">
           <input class="favorite styled choice-one" type="button" value="<%= question.choice_one %>" />
          </div>
          <div data-action="click->play-quiz#advance">
           <input class="favorite styled choice-two" type="button" value="<%= question.choice_two %>" />
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= simple_form_for [@user_guess], class: "d-none", data: { play_quiz_target: "submitResults", action: "formdata->play-quiz#submit" } do |f| %>
    <p><%= f.submit "Submit Results"%></p>
  <% end %>
</div>
