<div class="banner text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url('game.jpg') %>);">
  <div id="home">
    <h1><strong>Bring The Fun Back</strong>!</h1>
    <div class="mt-4">
  <% if user_signed_in? %>
    <%= link_to quizzes_path do %>
      <button class="btn-gradient">Play a quiz</button>
    <% end %>
    <%= link_to new_quiz_path do %>
      <button class="btn-gradient">Create a new quiz</button>
    <% end %>
    <%= link_to my_own_quizzes_path do %>
      <button class="btn-gradient">Show my quizzes</button>
    <% end %>
    </div>
  <% else %>
    <p> This is an app where you can create your own quizzes and play quizzes created by other users</p>
    <%= link_to new_user_registration_path do %>
      <button class="btn-gradient">Sign in</button>
    <% end %>
    <%= link_to new_user_session_path do %>
      <button class="btn-gradient">Log in</button>
    <% end %>
  <% end %>
  </div>
</div>
